*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# API keys and such
keys.properties
# Local preferences
preferences.properties

# Google services should not be publicized
google-services.json

# Ignore dumb .idea stuff
/.idea/*

# Make an exception for the dictionary
!/.idea/dictionaries

# Ignore .vscode settings
/.vscode/*
