<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Evently">

        <!-- Default icon, color, and channel for notification -->
        <meta-data
            android:name="com.example.evently.default_notification_icon"
            android:resource="@drawable/ic_notifs" />
        <meta-data
            android:name="com.example.evently.default_notification_color"
            android:resource="@color/material_dynamic_secondary10" />
        <meta-data
            android:name="com.example.evently.default_notification_channel_id"
            android:value="@string/default_notif_channel" />

        <!-- FCM: Disable auto-init. We only enable it after authentication. -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Ideally, scanning QR code should go to EntrantActivity Event Details directly
                 However, if we do that - we can't ensure the user is logged in, which causes issues
                 with everything in EntrantActivity (e.g notification nav destination).

                 In essence, we'd need to support a "guest mode" for EntrantActivity specifically.
                 However, this is out of scope for this project.
            -->
            <intent-filter
                android:autoVerify="true"
                android:label="QR Code to Event Details (App)">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://logout.app/evently” -->
                <data android:scheme="http"
                    android:host="logout.app"
                    android:pathPrefix="/evently" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.entrant.EntrantActivity"
            android:exported="false" />

        <activity
            android:name=".ui.organizer.OrganizerActivity"
            android:exported="false" />

        <service
            android:name=".FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.qrprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qr_file_paths" />
        </provider>

    </application>

</manifest>